/* Full Website Attributes */
*{
    padding: 0;
    margin: 0;
}

html{
    padding: 0;
    margin-right: 0;
}

body{
    background-color: #333333;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

h1{
    font-size: 60px;
    color: white;
    text-align: center;
    margin: 50px auto 0px auto;
}

h2{
    font-size: 50px;
    color: white;
    text-align: center;
}

.btn-primary{
    width: 140px;
    height: 70px;
    background: #666;
    font-size: 28px;
    margin: 15px;
}

.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.block{
    display: block;
    width:fit-content;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #FFF;
}

.corner-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.small-logo{
    width: 50px;
    height: 50px;
    margin: 20px 10px 20px 20px;
}

.group{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 20px;
}

/* Landing Page */

.logo-lg{
    text-align: center;
}


/* Login Page */
.login-form{
    margin: 25px auto;
}

.login-box{
    width: 70%;
    background-color: #666;
    margin: 100px auto;
    padding: 100px;
}

.input-group{
    display: flex;
    flex-direction: row;
    margin: 8px auto;
    font-size: 18px;
    color: black;
}

.medium-form-label{
    width: 150px;
    text-align: left;
}

/* side navbar */
.nav-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-top: 15px;
}

.nav-group h5{
    margin-left: 8px;
}

.row{
    display: flex;
    flex-direction: row;
}

.left-nav{
    flex: 1;
    width: 100%;
    height: 99.5vh;
    background-color: #333333;
}

.column{
    flex: 5;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: 100%;
}

.top-nav{
    background-color: #666;
    display: block;
    border: 1px solid red;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    
}

.contents{
    background-color: #FFF;
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.task-section{
    flex: 1;
    background: #CCC;
    margin: 20px;
}

.project-section{
    flex: 1;
    background: #CCC;
    margin: 20px;
}

/* top nav */
.photo{
    width: 60px;
    height: 50px;
    border: 1px solid black;
    background-color: #CCC;
    border-radius: 50%;
    margin-left: 20px;
    text-align: center;
    padding-top: 10px;
}

.name-group{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 75px;
    font-size: 20px;
}

.top-nav a{
    margin: auto 10px;
}

.section-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 0;
    font-size: 14px;
    font-weight: 100;
}
